{% extends "main.html" %}
{% block tabs %}
{{ super() }}
<style>
    :root body {
        --md-default-bg-color:        #000;
        /* --md-primary-fg-color:        #000;
        --md-primary-fg-color--light: #000;
        --md-primary-fg-color--dark:  #000; */
    }

    .md-header {
        position:initial
    }
    
    .md-main__inner {
        margin:0
    }

    .md-content {
        display:none
    }

    @media screen and (min-width:60em) {
        .md-sidebar--secondary {
            display:none 
        }
    }
    
    @media screen and (min-width:76.25em) {
        .md-sidebar--primary {
            display:none
        }
    }

    .md-main {
        background-image: url("assets/images/2-lovelace_amano.jpeg");
        background-size: 110%;
        background-repeat: no-repeat;
        background-position: center;
    }


</style>

<section class="mdx-container">
  <div class="md-grid md-typeset">
    <div class="mdx-hero">
        <div class="md">
      <p style="color: white;font-weight: bold; font-size: 160%; line-height: 35px;">Collection of random notes on science <br> and engineering topics</p>
    </div>
  </div>
</section>

{% endblock %}
{% block content %}{% endblock %}
{% block container %}{% endblock %}
{% block footer %}{% endblock %}